<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ .Title }} · {{ site.Title }}{{ end }}</title>
  <meta name="description" content="{{ .Params.resumo | default site.Params.descricao }}">

  <link rel="preload" href="/fonts/serif.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/mono.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/display.woff2" as="font" type="font/woff2" crossorigin>

  {{ with resources.Get "css/main.css" }}
    {{ $css := . | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $css.RelPermalink }}" integrity="{{ $css.Data.Integrity }}">
  {{ end }}

  {{ with .OutputFormats.Get "rss" }}
    <link rel="alternate" type="application/rss+xml" href="{{ .Permalink }}" title="{{ site.Title }}">
  {{ end }}
</head>
